#banner {
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
}

.bg-grey {
    background-color: #E2E2E2;
}

.bg-light-grey {
    background-color: #F4F4F4;
}

.small-text {
    font-size: 12px;
}

.icon-size {
    font-size: 20px;
}

.border-radius {
    border-radius: 8px;
}

.dropdown-arrow-none {
    -webkit-appearance: none;
}


/* Login Form/Signup Form */

#signupform input[type=text],
#signupform input[type=password],
#signupform input[type=number],
#loginform input[type=text],
#loginform input[type=password],
#loginform input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

#signupform #submit,
#loginform #submit,
#updateInfo,
#changepass,
#addnewlocation {
    font-size: large;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

#signupform #submit:hover,
#loginform #submit:hover {
    opacity: 0.8;
}

#loginform,
#signupform {
    height: 100%;
    max-width: 100%;
    padding: 50px 30% 70px 30%;
}

.bg-light-yellow {
    background-color: rgb(229, 240, 167);
}

#login h2,
#signup h2,
#userInfo h2,
#change h2,
#addnew h2,
#update h2 {
    text-align: center;
}

label {
    padding-left: 20px;
    font-weight: 900;
}

#signupform small,
#loginform small,
#errors {
    color: rgb(240, 70, 70);
}

#errors {
    text-align: center;
    list-style-type: none;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #facc00;
    color: rgb(0, 0, 0);
}

#admin .sidebar a.active {
    background-color: #75f570;
    color: rgb(0, 0, 0);
}

.sidebar a:hover:not(.active) {
    background-color: rgb(241, 215, 144);
    color: rgb(0, 0, 0);
}

#admin .sidebar a:hover:not(.active) {
    background-color: rgb(233, 124, 124);
    color: rgb(0, 0, 0);
}

#customer div.content,
#admin div.content {
    margin-left: 200px;
    padding: 1px 5px 1px 15px;
    height: 100%;
    width: 84%;
    margin-bottom: 70px;
}

#heading {
    color: rgb(238, 49, 24);
    text-align: center;
    padding: 5px;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    #customer div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.topnav {
    overflow: hidden;
    background-color: #facc00;
}

#admin .topnav {
    overflow: hidden;
    background-color: #75f570;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#accName {
    float: right;
    color: #000000;
    background-color: rgb(133, 145, 247);
    border-radius: 100px;
    margin-right: 15px;
}

.topnav a:hover {
    background-color: #ff7504;
    color: black;
}

.topnav #accName:hover {
    background-color: #ff7504;
    color: black;
}

#admin .topnav a:hover {
    background-color: #e96565;
    color: black;
}

.topnav a.active {
    background-color: #65a4ec;
    color: white;
}

#admin .topnav a.active {
    background-color: #ffae00;
    color: rgb(0, 0, 0);
}

#ride {
    width: 100%;
}

#ride tr:nth-child(even) {
    background-color: #ebd9d9;
}

#ride tr:last-child {
    background-color: rgb(130, 176, 228);
    color: rgb(0, 0, 0);
    text-align: center;
}

#ride tr:last-child td {
    padding: 15px;
}

#ride tr:hover {
    background-color: rgb(233, 223, 138);
}

#ride th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #70afe2;
    color: rgb(0, 0, 0);
}

#sort {
    float: left;
    font-size: large;
    padding: 20px 0 0 20px;
}

#filter {
    float: left;
    font-size: large;
    padding: 20px 0 0 20px;
}

#sort select,
#filter select {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 8px;
    background-color: #e0fdff;
}

#ridetable {
    padding: 20px;
}

#notification {
    text-align: center;
    background-color: rgb(136, 78, 78);
    color: rgb(248, 252, 52);
    padding: 10px;
    border-radius: 10px;
}

#aproove,
#cancel,
#delete,
#edit,
#view {
    text-decoration: none;
    border-radius: 10px;
    padding: 1px 2px;
    color: rgb(0, 0, 0);
    margin: 1px;
}

#aproove {
    background-color: rgb(146, 233, 124);
}

#aproove:hover {
    background-color: rgb(10, 95, 30);
    color: rgb(255, 255, 255);
}

#cancel {
    background-color: rgb(238, 154, 98);
}

#cancel:hover {
    background-color: rgb(119, 68, 2);
    color: rgb(255, 255, 255);
}

#delete {
    background-color: rgb(226, 107, 107);
}

#delete:hover {
    background-color: rgb(165, 0, 0);
    color: rgb(255, 255, 255);
}

#edit {
    padding: 0 6px;
    background-color: rgb(248, 244, 113);
}

#edit:hover {
    background-color: rgb(128, 119, 3);
    color: rgb(255, 255, 255);
}

#view {
    padding: 2px 3px;
    background-color: rgb(187, 151, 243);
}

#view:hover {
    background-color: rgb(28, 40, 109);
    color: rgb(255, 255, 255);
}

#action {
    text-align: right;
}

#tiles .row {
    height: auto;
    width: 100%;
}

#tiles .col {
    box-shadow: 5px 5px 5px 5px rgb(233, 231, 231);
    border-radius: 15px;
    float: left;
    width: 30%;
    margin: 25px 15px 0px 15px;
    height: 150px;
    text-align: center;
    color: rgb(56, 53, 48);
}

#tiles .coldiv {
    float: left;
    width: 30%;
    margin: 0px 15px 0px 15px;
    height: 180px;
    text-align: center;
    color: rgb(56, 53, 48);
}

.first {
    background-color: rgb(216, 197, 27);
}

.second {
    background-color: rgb(39, 145, 12);
}

.third {
    background-color: rgb(12, 104, 190);
}

a .first:hover {
    background-color: rgb(139, 127, 12);
}

a .second:hover {
    background-color: rgb(32, 97, 15);
}

a .third:hover {
    background-color: rgb(15, 77, 136);
}

.firstc {
    background-color: rgb(122, 121, 199);
}

.secondc {
    background-color: rgb(81, 142, 167);
}

.thirdc {
    background-color: rgb(61, 184, 23);
}

.thirdc:hover {
    background-color: rgb(39, 116, 16);
}

.text {
    font-size: 25px;
    margin: 10px;
}

.num {
    font-size: 45px;
    color: white;
    margin: 15px;
}

.logopara {
    font-size: 20px;
    color: #FFC107;
    text-align: center;
    margin-bottom: 2px;
}

.logospan {
    background-color: #FFC107;
    color: white;
    padding: 1px 2px;
}

a {
    text-decoration: none;
}

#loginp {
    max-width: 90%;
    margin: 30px 0 0 0;
}

.left {
    font-size: large;
    font-weight: bold;
    float: left;
    width: 48%;
    text-align: right;
    padding: 0px 5px;
    margin: 1px 4px;
}

.right {
    font-size: large;
    font-weight: bold;
    width: 40%;
    text-align: left;
    float: left;
    padding: 0px 5px;
    margin: 1px 4px;
}

#head {
    text-align: center;
}

#tiles .col1 {
    width: 46%;
    height: 180px;
    background-color: rgb(197, 147, 89);
    box-shadow: 5px 5px 5px 5px rgb(233, 231, 231);
    border-radius: 15px;
}

#tiles .col2 {
    width: 46%;
    height: 180px;
    background-color: rgb(202, 171, 34);
    box-shadow: 5px 5px 5px 5px rgb(233, 231, 231);
    border-radius: 15px;
}

#tiles .col2:hover {
    background-color: rgb(134, 113, 19);
}

.text1 {
    font-size: 25px;
    padding: 10px 0 4px;
    margin: 0;
    color: white;
}

.text2 {
    font-size: 20px;
    padding: 5px;
    margin: 0;
    color: white;
}

#tiles .colAdmin {
    width: 96%;
    height: 180px;
    background-color: rgb(75, 162, 184);
    box-shadow: 5px 5px 5px 5px rgb(233, 231, 231);
    border-radius: 15px;
}

#approvebtn {
    font-size: large;
    margin-top: 30px;
    padding: 10px 50px;
    background-color: rgb(53, 163, 39);
    box-shadow: 2px 2px rgb(233, 231, 231);
    border-radius: 15px;
    color: rgb(0, 0, 0);
}

#approvebtn:hover {
    background-color: rgb(16, 90, 7);
    color: rgb(255, 255, 255);
}

#cancelbtn {
    font-size: large;
    margin-top: 30px;
    padding: 10px 50px;
    background-color: rgb(175, 127, 72);
    box-shadow: 2px 2px rgb(233, 231, 231);
    border-radius: 15px;
    color: rgb(7, 7, 7);
}

#cancelbtn:hover {
    background-color: rgb(87, 65, 4);
    color: rgb(255, 255, 255);
}

#deletebtn {
    font-size: large;
    color: rgb(3, 3, 3);
    padding: 10px 50px;
    background-color: rgb(197, 60, 60);
    box-shadow: 2px 2px rgb(233, 231, 231);
    border-radius: 15px;
}

#deletebtn:hover {
    background-color: rgb(88, 2, 2);
    color: rgb(255, 255, 255);
}

.pbtn {
    margin: 30px;
}

.textRide {
    width: 50%;
    border-radius: 50% 50%;
    background-color: rgb(75, 162, 184);
    font-weight: bold;
    font-size: 20px;
    margin: 30px 30px;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    animation-name: pendingRide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pendingRide {
    0% {
        background-color: rgb(75, 162, 184);
        color: rgb(75, 162, 184);
    }
    50% {
        background-color: rgb(136, 21, 21);
        color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(75, 162, 184);
        color: rgb(75, 162, 184);
    }
}

#invoice {
    text-align: center;
    /* padding: 5%;
    width: 80%; */
}

#tinvoice {
    margin: 2% 10% 2% 20%;
    border: 2px black solid;
    width: 60%;
    padding: 0 0 10% 0;
}

#thead {
    margin: 0%;
    text-align: left;
    /* padding: 20px; */
}

#thead .logopara {
    margin: 20px 0 0 40px;
    text-align: left;
}

#tinvce {
    padding: 20px 0 40px 0;
    font-size: 25px;
}

#tdate {
    padding: 10px 30x;
    text-align: right;
    font-size: 15px;
}

.tdc1 {
    font-weight: 600;
    padding: 3px 10px;
    text-align: right;
    width: 52%;
}

.tdc2 {
    padding: 3px 5px;
    text-align: left;
}

#print {
    background-color: rgb(145, 177, 155);
    color: rgb(0, 0, 0);
    padding: 3px 15px;
    font-size: large;
}

#signupform .green {
    color: rgb(3, 126, 30);
}

#ridetable #cinfo {
    border: 2px black solid;
    padding: 5px;
}

#ridetable #cinfo td {
    padding: 5px;
}

th {
    background: white;
    position: sticky;
    top: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 84%;
    background-color: #EFEFEF;
    text-align: center;
}

.fleft {
    float: left;
    width: 32%;
}

#rightFooter {
    padding: 20px 30px 0 0;
    text-align: right;
}

#firstFooter .logopara {
    text-align: left;
    padding-left: 30px;
}

#midFooter {
    padding-top: 10px;
}

#admin #admincontent {
    height: 1000px;
}

i {
    padding-left: 5px;
}